.sw-btn {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-size: var(--font-size-base);
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
  color: var(--sw-light);
  display: block;

  &.primary {
    background: var(--sw-yellow-primary);

    &:hover:not(:disabled) {
      background: var(--sw-yellow-light);
    }
  }

  &.secondary {
    background: var(--sw-grey-light);

    &:hover:not(:disabled) {
      background: var(--sw-grey-medium);
    }
  }

  &.danger {
    background: var(--sw-red-light);

    &:hover:not(:disabled) {
      background: var(--sw-red-dark);
    }
  }

  &:disabled {
    background: var(--sw-grey);
    cursor: not-allowed;
    opacity: 0.6;
  }
}
