<article class="sw-card">
    <header class="sw-card-header">
        <div class="sw-card-title-row">
            <h2 class="sw-card-name">
            </h2>
            <div class="sw-card-favorite">
                <img src="\assets\icons\star.svg" alt="favorito" class="sw-card-favorite-icon">
            </div>
        </div>
        <div class="sw-card-subtitle-row">
            <span class="sw-card-type">
            </span>

            <span class="sw-card-hp"></span>
        </div>
    </header>

    <section class="sw-card-avatar-section">
        <div class="sw-card-avatar">
        </div>
        <span class="sw-card-avatar-initial">
        </span>
    </section>

    <section class="sw-card-status">
        <div class="sw-card-status-name">
            <span class="sw-card-status-label"></span>
            <h3 class="sw-card-status-value"></h3>
        </div>

        <div class="sw-card-status-name">
            <span class="sw-card-status-label"></span>
            <h3 class="sw-card-status-value"></h3>
        </div>

        <div class="sw-card-status-name">
            <span class="sw-card-status-label"></span>
            <h3 class="sw-card-status-value"></h3>
        </div>
    </section>

    <section class="sw-card-info">
        <p class="sw-card__info-line">
            <span>Altura</span>
            <span class="sw-card__info-separator">•</span>

            <span>Massa</span>
        </p>
        <p class="sw-card__info-line">
            <span>Gênero:</span>

            <span class="sw-card__info-separator">•</span>

            <span>Filmes:</span>
        </p>
    </section>

    <footer class="sw-card-actions">
        <app-button type="primary" label="Adicionar ao deck" ></app-button>
        <app-button type="secondary" label="Detalhes"></app-button>
    </footer>
</article>