<div class="sw-character-list-container">
    <header class="sw-character-list-header">
        <div class="sw-character-title-group">
            <h1 class="sw-character-list-title">Personagens de Star Wars</h1>
            <p class="sw-character-list-subtitle">
                Explore a galáxia muito, muito distante e descubra os personagens icônicos que
                moldaram o universo de Star Wars.
            </p>
        </div>
        <div class="sw-character-list-meta">
            <div class="sw-character-list-meta-item">
                <span class="sw-character-list-meta-label">
                    Cartas exibidas
                </span>
                <span class="sw-character-list-meta-value">
                    {{characters.length}}
                </span>
            </div>
        </div>
    </header>
    <section class="sw-character-list-toolbar">
        <div class="sw-character-list-search">
            <app-search-bar 
            placeholder="Buscar personagem..." 
            (search)="onSearchChange($event)" />
        </div>

        <div class="sw-character-list-filters">
            <app-button type="primary" label="Todos" [class.active]="peopleStore.filter() === 'all'" (click)="onFilterChange('all')"/>
            <app-button type="primary" label="Jedi"  [class.active]="peopleStore.filter() === 'Jedi'" (click)="onFilterChange('Jedi')" />
            <app-button type="primary" label="Sith" [class.active]="peopleStore.filter() === 'Sith'" (click)="onFilterChange('Sith')" />
            <app-button type="primary" label="Droid" [class.active]="peopleStore.filter() === 'Droid'" (click)="onFilterChange('Droid')" />
            <app-button type="primary" label="Civilian"[class.active]="peopleStore.filter() === 'Civilian'"  (click)="onFilterChange('Civilian')" />
            <app-button type="primary" label="Outros"[class.active]="peopleStore.filter() === 'Unknown'"  (click)="onFilterChange('Unknown')"/>
        </div>
    </section>

    <section class="sw-character-list-grid">
        <div>
            @for (character of characters; track character.id) {
            <app-character-card [character]="character" 
                [isFavorite]="favoriteStore.isFavorite(character.id)"
                (toggleFavorite)="onFavoriteToggle($event)" 
                (addToDeck)="onAddToDeck($event)"
                (details)="goToDetails($event)" />
            }
        </div>
    </section>
    @if(totalItems > pageSize) {
    <footer class="sw-character-list-pagination">
        <app-pagination [totalItems]="totalItems" [pageSize]="pageSize" [currentPage]="currentPage"
            [showFirstLast]="true" [maxVisiblePages]="5" (pageChange)="onPageChange($event)" />
    </footer>
}

</div> 